.social_dragging {
    list-style: none;
}

.wp-block-themename-blocks-team-members {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            .wp-block-themename-blocks-team-member {
                width: calc(100% /#{$i} - 20px);
                //20px =margin*2
            }
        }
    }
    .wp-block-themename-blocks-team-member {
        margin: 10px;
        &__title {
            color: #222;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }

        &__info {
            color: #565656;
            font-weight: 300;
            margin-bottom: 5px;
        }
        &__addIcon {
            padding: 2px;
            line-height: 1;
            border: 1px dashed #8c969f;
            cursor: pointer;
        }
        &__linkForm {
            border: 1px solid #eaeaea;
            padding: 10px;
            margin-top: 10px;
        }
        &__removeLink {
            color: #d23535;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
        }
        &__social {
            ul {
                list-style: none;
                line-height: 1;
                margin-left: -5px;
                margin-right: -5px;
                li {
                    display: inline-block;
                    line-height: 1;
                    margin: 5px;
                    a {
                        border-bottom: none;
                    }
                    &.is-selected {
                        outline: 2px solid #f03;
                    }
                    svg {
                        vertical-align: middle;
                        color: #4e4e4e;
                    }
                }
            }
        }
    }
}
