/*.wp-block {
  max-width: 50rem;
}*/

.wp-block-themename-blocks-team-members {
    display: block;
    margin-left: 0px;
    margin-right: 0px;

    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            [data-type="themename-blocks/team-member"] {
                width: calc(100% /#{$i});
            }
        }
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;

        // add new block + sign, so it ends up at the bottom, not beside
        .block-list-appender {
            width: 100%;
        }

        > [data-type="themename-blocks/team-member"] {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .wp-block-themename-blocks-team-member {
        margin: 0px;
        width: auto !important;
    }
}
